.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    border-radius: 10px;
    width: 50%;
    height: 400px;
}

.container .btn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid grey;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
}

.btn:hover {
   scale: 1px;
}